[Unit]
Description="tile proxy server"
After=network.target

[Service]
ExecStart=/apps/mapant-tile-proxy/env/bin/granian --interface wsgi --no-ws --port 19651 --http 1 --workers 4 --threads 4 index:app 
Restart=always
Environment="PATH=/apps/mapant-tile-proxy/env/bin/"
WorkingDirectory=/apps/mapant-tile-proxy/
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=default
